.main {
    width: 100vw;
    height: 100vh;
    background: url('../../img/background/bg-home.jpg');
    background-size: cover;
    background-clip: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar {
    max-width: 100vw;
    align-items: flex-start;
    width: 100%;
}

.bodier {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.info {
    flex-direction: column;
    margin: 25rem auto 5rem auto;
    max-width: 48rem;
    color: hsl(231,77%,90%);
}

.info h1 {    
    font-size: 15rem;
    font-family: 'Bellefair', serif;
    font-weight: 200;
    margin: 2rem 0 1.54rem 0;
    color: white;
}

.info h5 {
    font-size: 3rem;
    letter-spacing: 0.475rem;
    margin: 0;    
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
}

.info p {
    font-size: 2rem;
    justify-content: center;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    line-height: 3rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    margin: 0;
}

.explore {
    margin: 38rem auto auto auto;
    position: static;
}

.explore a:hover {    
    box-shadow: 0 0 0 8rem rgba(255, 255, 255, 0.123);
}

.explorePath {
    text-decoration: none;
    color: rgb(11,13,23);
    font-size: 3.5rem;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    letter-spacing: 0.3rem;
    padding: 11.3rem 5rem 11.7rem 5rem;
    background-color: white;
    border-radius: 25rem;
    transition-timing-function: ease-in-out;
    transition: 0.8s;
}

@media (max-width: 900px) {
    .bodier {
        flex-direction: column;
        box-sizing: border-box;
    }
    .main {
        background: url('../../img/background/bg-home-tablet.jpg');
        background-size: cover;
    }
    .info {
        margin: 10rem auto auto auto;
        text-align: center;
    }
    .info h5 {
        font-size: 2rem;
    }
    .info p {
        font-size: 1.8rem;
    }
    .explore {
        margin: 25rem auto 20rem auto;
        max-width: none;
    }
    .explorePath {
        font-size: 2.8rem;
        padding: 10.3rem 5rem 10.3rem 5rem;
    }
}

@media (max-width: 600px) {
    .main {
        background: url('../../img/background/bg-home-mobile.jpg');
        background-size: cover;
    }
    .info {
        margin: 5rem auto auto auto;
    }
    .info h1 {
        font-size: 8rem;
    }
    .info h5 {
        font-size: 1.2rem;
    }
    .info p {
        font-size: 1.4rem;
        line-height: 2rem;
        max-width: 30rem;
    }
    .explore {
        margin: 18rem auto 20rem auto;
        max-width: none;
    }
    .explorePath {
        font-size: 2rem;
        padding: 6.5rem 2.5rem 6.5rem 2.5rem;
    }
}