.main {
    width: 100vw;
    height: 100vh;
    background: url('../../img/background/bg-tech.jpg');
    background-size: cover;
    background-clip: border-box;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.bodier {
    width: 100vw;
    display: inline-flex;
}

.info {
    width: 40%;
    height: 100%;
    display: block;
    margin: 0 0 0 23rem;
}

.title {
    font-size: 2.5rem;
    letter-spacing: 0.475rem;
    margin: 0;    
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    margin: 8.5rem auto 0 0;
}

.title strong {
    color: rgba(255, 255, 255, 0.281);
    margin-right: 1.2rem;
}

.subTitle {
    display: inline-flex;
}

.text {
    margin: 0 0 0 8.1rem;
}

.text h4 {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    line-height: 3rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
    margin: 12rem 0 0 0;
}

.text h3 {
    font-size: 4rem;
    margin: 2.4rem 0 0 0;
    font-family: 'Bellefair', serif;
    font-weight: 200;
}

.text p {    
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    line-height: 3rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
    margin: 3.5rem 0 10rem 0;
}

.item {
    height: 52.8rem;
    position: absolute;
    right: 0.8%;
    top: 22%;
    z-index: 0;
}

@media (max-width: 1260px) {
    .item {
        height: 40rem;
    }
    .info {
        margin: 0 0 0 12rem;
    }
}

@media (max-width: 900px) {    
    .bodier {
        display: block;
    }
    .info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "title" "image" "subtitle";
        margin: 0;
        width: 100%;
    }
    .title {
        grid-area: title;
        margin: 6rem 0 0 8rem;
        font-size: 2rem;
        text-align: start;
    }
    .subTitle {
        display: grid;
        width: 100vw;
        grid-area: subtitle;
    }
    .item {
        position: relative;
        grid-area: image;
        top: auto;
        margin: 7rem auto auto;
        width: 100%;
        height: auto;
    }
    .text {
        margin: 0;
        text-align: center;
    }
    .text h4 {
        margin: auto;
    }
    .text h3 {
        margin: 2rem auto auto;
    }
    .text p {
        width: 60%;
        margin: 3rem auto 5rem;
    }
    .navTech {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .text p {
        width: 75%;
    }
    .title {
        margin: 6rem auto auto;
        text-align: center;
    }
}