.main {
    align-items: center;
}

.main ul {
    display: block;
    padding: 0 0 0 0;
    margin: 14.4rem 0 0 0;
}

.main li {
    list-style-type: none;
    margin: 0 0 8rem 0;
}

.tech {
    font-size: 3.5rem;
    margin: 0 0 0 0;
    color: white;
    border: 0.1rem solid rgba(255, 255, 255, 0.26);
    padding: 2rem 3.2rem 2rem 3.2rem;
    border-radius: 25rem;
    font-family: 'Bellefair', serif;
    font-weight: 200;
    text-decoration: none;
    transition-property: all;
    transition: all 1s ease 0.1s;
}

.numberOne {
    padding: 2rem 3.5rem 2rem 3.5rem;
}

/*EFEITO DE ACTIVE, HOVER E IDLE DO NAVBAR*/
.techActived {
    background-color: white;
    border: 0.1rem solid white;
    color: rgb(11,13,23);
    cursor: pointer;
}

.techHovered:hover {
    border: 0.1rem solid white;
    cursor: pointer;
}
/*===================================================*/

@media (max-width: 900px) {
    .main ul {
        display: inline-flex;
        width: 100%;
        margin-top: 7rem;
    }
    .main li {
        margin: auto 2rem 5rem;
    }
}