.main {
    align-items: center;
}

.main ul {
    display: inline-flex;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.main li {
    list-style-type: none;
}

.crew {
    margin: 0 2.5rem 0 0;
    background-color: rgba(255, 255, 255, 0.178);
    padding: .75rem 0.75rem .75rem 0.75rem;border-radius: 25rem;
    transition: all 1s ease 0.1s;
}

/*EFEITO DE ACTIVE, HOVER E IDLE DO NAVBAR*/
.crewActived {
    background-color: white;
}

.crewHovered:hover {
    background-color: rgba(255, 255, 255, 0.548);
}
/*===================================================*/

@media (max-width: 900px) {
    .crew {
        margin: 0;
    }
    .main ul {
        min-width: 15rem;
        justify-content: space-around;
    }
}