.main {
    display: grid;
    grid-template-columns: 1fr 1fr 6fr;
    align-items: center;
    margin-left: 4rem;
    width: 100vw;
}

.main ul {
    display: inline-flex;
    font-size: 1.3rem;
    background-color: rgba(208, 214, 249, 0.021);
    backdrop-filter: blur(2rem);
    padding: 4.1rem 5rem 4.1rem 5rem;
    margin: 4.1rem 0 0 0;
}

.main li {
    list-style-type: none;
}

.direction {
    color: white;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 5.1rem;
    letter-spacing: 0.4rem;
    font-weight: 200;
    text-decoration: underline solid 0.35rem rgba(255, 255, 255, 0);
    text-underline-offset: 4.1rem;
    transition: all 1s ease 0.1s;
}


/*EFEITO DE ACTIVE, HOVER E IDLE DO NAVBAR*/
.directionActived {
    text-decoration: underline solid 0.35rem rgba(255, 255, 255);
}

.directionHovered:hover {
    text-decoration: underline solid 0.35rem rgba(255, 255, 255, 0.349);
}
/*===================================================*/

.line {
    width: 47.3rem;
    height: 0.2rem;
    margin: 4.1rem 0 0 0;
    background-color: rgba(255, 255, 255, 0.171);
    backdrop-filter: blur(2.5rem);
    transform: translateX(7%);
    z-index: 3;
}

.main img {
    width: 5rem;
    margin: 4.1rem 0 0 1rem;
}

@media (max-width: 1400px) {
    .line {
        width: 28rem;
    }
}